.bg-dark {
    background-color: #101010!important;
}

.nav-link {
    color: #fff!important;
}

.active {
    border-bottom: 2px solid #fff;
}

.btn-primary {
    background-color: #000000!important;
    border-color: #080808!important;
}